In [1]:
### Module 6 Challenge Part II. Provide inputs for customers to narrow Travel Searches based on Temp and Rain
 ## II.2 Import Weather Data CSV as new Dataframe.
 ## II.3 Filter the DF for minimum and max temps and if rain or snow accumulation is - inches using conditionals
  # II.3a Prompt Customer for Min Temperature Preference
  # II.3b Prompt Customer for Max Temperature Preference
  # II.3c Prompt Customer for Rain Preference
  # II.3d Prompt Customer for Snow Preference
 ## II.4 Add the cities to a marker layer map with pop-marker for each city that includes:
 ## II.4   Hotel name, City, Country, Current Weather Descrip with Max Temp
  # II.4a  Create the Hotel DF.  
  # II.4b  Configure search parameters 
  # II.4c  Crawl through Google NearbySearch to get data based on our locations
  # II.4d  Iterate through the DataFrame by row, and populate the info_box_template
 ## II.5  Save and upload new DF as WeatherPy_vacation.csv
 ## II.6  Save and upload new marker layer map as WeatherPy_vacation_map.png

In [128]:
### Prepare Environment.
import pandas as pd # our Panda friend
import gmaps # the gmaps for heatmaps
import requests # the html library for request Google Places JSON file

# import matplotlib.pyplot as plt # matplotlib for plotting ## not needed for this Py
# import numpy as np  # numpy for calculations ## not needed for this Py
# from citipy import citipy # Wendy Peng's amazing cities library ## not needed for this Py
# from datetime import datetime # working with dates ## not needed for this Py
# import time  # working with time ## not needed for this Py

# ##  import our api keys
# from config import weather_api_key  ## for weather data ## not needed for this Py
from config import g_key ## for gmaps heatmaps

In [3]:
## II.2 Import Weather Data CSV as new Dataframe.
city_data_df = pd.read_csv("weather_data/weatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
0,0,Saint-Philippe,RE,2020-01-14 19:23:20,-21.36,55.77,Rain,light rain,80.60,69,96,6.93,0.38,0.0
1,1,Cape Town,ZA,2020-01-14 19:23:20,-33.93,18.42,Clouds,few clouds,73.99,94,20,20.80,0.00,0.0
2,2,Ilo,PE,2020-01-14 19:23:20,-17.64,-71.34,Clouds,scattered clouds,78.80,65,39,10.29,0.00,0.0
3,3,Flinders,AU,2020-01-14 19:23:21,-34.58,150.86,Clouds,few clouds,66.00,100,17,7.45,0.00,0.0
4,4,Dubai,AE,2020-01-14 19:19:00,25.26,55.30,Clouds,scattered clouds,66.20,48,40,8.05,0.00,0.0

In [20]:
## II.2  review data. nulls
#city_data_df.info()
city_data_df.dropna(inplace=True)  ## drop 7 missing countries
city_data_df.info()  # leaves 565 useful data points.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 565 entries, 0 to 571
Data columns (total 14 columns):
City_ID                     565 non-null int64
City                        565 non-null object
Country                     565 non-null object
Date                        565 non-null object
Lat                         565 non-null float64
Lng                         565 non-null float64
Overall Weather             565 non-null object
Weather Description         565 non-null object
Max Temp                    565 non-null float64
Humidity                    565 non-null int64
Cloudiness                  565 non-null int64
Wind Speed                  565 non-null float64
Rain Inches (last 3 hrs)    565 non-null float64
Snow Inches (last 3 hrs)    565 non-null float64
dtypes: float64(6), int64(3), object(5)
memory usage: 66.2+ KB

In [21]:
## II.3 a -b Get Customer Preferences
  # II.3a Prompt Customer for Min Temperature Preference
  # II.3b Prompt Customer for Max Temperature Preference
  # II.3c Prompt Customer for Rain Preference
  # II.3d Prompt Customer for Snow Preference
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_pref = input("Do you want it to be raining? (yes/no)")
snow_pref = input("Do you want it to be snowing? (yes/no)")

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 105
Do you want it to be raining? (yes/no)yes
Do you want it to be snowing? (yes/no)no

In [106]:
## II.3  Filter the DF for minimum and max temps
preferred_cities_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_temp_df.head()
preferred_cities_temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 436 entries, 0 to 571
Data columns (total 14 columns):
City_ID                     436 non-null int64
City                        436 non-null object
Country                     436 non-null object
Date                        436 non-null object
Lat                         436 non-null float64
Lng                         436 non-null float64
Overall Weather             436 non-null object
Weather Description         436 non-null object
Max Temp                    436 non-null float64
Humidity                    436 non-null int64
Cloudiness                  436 non-null int64
Wind Speed                  436 non-null float64
Rain Inches (last 3 hrs)    436 non-null float64
Snow Inches (last 3 hrs)    436 non-null float64
dtypes: float64(6), int64(3), object(5)
memory usage: 51.1+ KB

In [83]:
## II.3b1  Filter the DF for customer preferences on presence of rain

## test area a
rain_pref="no"
rain_pref

'no'

In [80]:
##  II.3b1  test area b

#x =  x_test = preferred_cities_df.loc[(preferred_cities_df["Overall Weather"] == "Rain")]
#x =  preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Rain Inches (last 3 hrs)"] > 0)]
#y =  preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Rain Inches (last 3 hrs)"] == 0)]

#x_test_df.info()  # 98 Rain
#x_test_df.head()  
#y_test_df.info() # 338 not rain
#y_test_df.head()

In [94]:
### Execute: II.3b1  Filter the DF for customer preferences on presence of rain.
try:
    if  rain_pref == 'yes': preferred_cities_rain_df = preferred_cities_temp_df.loc[(preferred_cities_temp_df["Rain Inches (last 3 hrs)"] > 0)]
    else: preferred_cities_rain_df = preferred_cities_temp_df.loc[(preferred_cities_temp_df["Rain Inches (last 3 hrs)"] == 0)]
except:  print (f"Overall Weather could not be determined for rain or no rain")

In [105]:
## II.3b1 check progress on rain filter
preferred_cities_rain_df.info() ## 364 Not Rain
preferred_cities_rain_df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 364 entries, 1 to 571
Data columns (total 14 columns):
City_ID                     364 non-null int64
City                        364 non-null object
Country                     364 non-null object
Date                        364 non-null object
Lat                         364 non-null float64
Lng                         364 non-null float64
Overall Weather             364 non-null object
Weather Description         364 non-null object
Max Temp                    364 non-null float64
Humidity                    364 non-null int64
Cloudiness                  364 non-null int64
Wind Speed                  364 non-null float64
Rain Inches (last 3 hrs)    364 non-null float64
Snow Inches (last 3 hrs)    364 non-null float64
dtypes: float64(6), int64(3), object(5)
memory usage: 42.7+ KB

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,1,Cape Town,ZA,2020-01-14 19:23:20,-33.93,18.42,Clouds,few clouds,73.99,94,20,20.80,0.0,0.0
2,2,Ilo,PE,2020-01-14 19:23:20,-17.64,-71.34,Clouds,scattered clouds,78.80,65,39,10.29,0.0,0.0
3,3,Flinders,AU,2020-01-14 19:23:21,-34.58,150.86,Clouds,few clouds,66.00,100,17,7.45,0.0,0.0
4,4,Dubai,AE,2020-01-14 19:19:00,25.26,55.30,Clouds,scattered clouds,66.20,48,40,8.05,0.0,0.0
5,5,Kapaa,US,2020-01-14 19:21:35,22.08,-159.32,Clouds,overcast clouds,75.20,83,90,16.11,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,Natal,BR,2020-01-14 19:24:23,-5.79,-35.21,Clouds,few clouds,87.80,62,20,16.11,0.0,0.0
567,567,Trinidad,BO,2020-01-14 19:25:58,-14.83,-64.90,Thunderstorm,thunderstorm,78.80,94,75,4.70,0.0,0.0
568,568,Marsh Harbour,BS,2020-01-14 19:25:58,26.54,-77.06,Clear,clear sky,74.07,72,1,15.14,0.0,0.0
569,569,Tabou,CI,2020-01-14 19:25:58,4.42,-7.35,Clouds,few clouds,83.01,70,18,5.91,0.0,0.0
571,571,Raymondville,US,2020-01-14 19:25:59,26.48,-97.78,Clouds,scattered clouds,84.99,54,40,13.87,0.0,0.0

In [116]:
## II.3b2  Further filter the DF for customer preferences on presence of Snow

## test area c
snow_pref="no"
snow_pref

'no'

In [112]:
## II.3b2  

## test area c

#x_test_df = preferred_cities_rain_df.loc[(preferred_cities_rain_df["Snow Inches (last 3 hrs)"] > 0)]
#y_test_df = preferred_cities_rain_df.loc[(preferred_cities_rain_df["Snow Inches (last 3 hrs)"] == 0)]

#x_test_df.info()  # 5 Snow
#x_test_df.head()  
#y_test_df.info() # 359 not snow
#y_test_df.head()

In [117]:
### Execute: II.3bb  Filter the DF for customer preferences on presence of snow.
try:
    if  snow_pref == 'yes': preferred_cities_snow_df = preferred_cities_rain_df.loc[(preferred_cities_rain_df["Snow Inches (last 3 hrs)"] > 0)]
    else: preferred_cities_snow_df = preferred_cities_rain_df.loc[(preferred_cities_rain_df["Snow Inches (last 3 hrs)"] == 0)]
except:  print (f"Overall Weather could not be determined for snow or no snow")

In [118]:
## check results
preferred_cities_snow_df.info()
preferred_cities_snow_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359 entries, 1 to 571
Data columns (total 14 columns):
City_ID                     359 non-null int64
City                        359 non-null object
Country                     359 non-null object
Date                        359 non-null object
Lat                         359 non-null float64
Lng                         359 non-null float64
Overall Weather             359 non-null object
Weather Description         359 non-null object
Max Temp                    359 non-null float64
Humidity                    359 non-null int64
Cloudiness                  359 non-null int64
Wind Speed                  359 non-null float64
Rain Inches (last 3 hrs)    359 non-null float64
Snow Inches (last 3 hrs)    359 non-null float64
dtypes: float64(6), int64(3), object(5)
memory usage: 42.1+ KB

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,1,Cape Town,ZA,2020-01-14 19:23:20,-33.93,18.42,Clouds,few clouds,73.99,94,20,20.80,0.0,0.0
2,2,Ilo,PE,2020-01-14 19:23:20,-17.64,-71.34,Clouds,scattered clouds,78.80,65,39,10.29,0.0,0.0
3,3,Flinders,AU,2020-01-14 19:23:21,-34.58,150.86,Clouds,few clouds,66.00,100,17,7.45,0.0,0.0
4,4,Dubai,AE,2020-01-14 19:19:00,25.26,55.30,Clouds,scattered clouds,66.20,48,40,8.05,0.0,0.0
5,5,Kapaa,US,2020-01-14 19:21:35,22.08,-159.32,Clouds,overcast clouds,75.20,83,90,16.11,0.0,0.0

In [125]:
## Finally wrap it back down
#preferred_cities_df=preferred_cities_snow_df
preferred_cities_df.head()
#preferred_cities_df.describe()

,City_ID,City,Country,Date,Lat,Lng,Overall Weather,Weather Description,Max Temp,Humidity,Cloudiness,Wind Speed,Rain Inches (last 3 hrs),Snow Inches (last 3 hrs)
1,1,Cape Town,ZA,2020-01-14 19:23:20,-33.93,18.42,Clouds,few clouds,73.99,94,20,20.80,0.0,0.0
2,2,Ilo,PE,2020-01-14 19:23:20,-17.64,-71.34,Clouds,scattered clouds,78.80,65,39,10.29,0.0,0.0
3,3,Flinders,AU,2020-01-14 19:23:21,-34.58,150.86,Clouds,few clouds,66.00,100,17,7.45,0.0,0.0
4,4,Dubai,AE,2020-01-14 19:19:00,25.26,55.30,Clouds,scattered clouds,66.20,48,40,8.05,0.0,0.0
5,5,Kapaa,US,2020-01-14 19:21:35,22.08,-159.32,Clouds,overcast clouds,75.20,83,90,16.11,0.0,0.0

In [120]:
### II.4  Add the cites to a marker layer map with a pop-up marker for each city that includes:
##        Hotel Name, City, Country, Current Weather Description with Maximun Temparature.

In [127]:
## II.4a  Create the Hotel DF. 
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description","Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

        City Country  Max Temp Weather Description    Lat     Lng Hotel Name
1  Cape Town      ZA     73.99          few clouds -33.93   18.42
2        Ilo      PE     78.80    scattered clouds -17.64  -71.34
3   Flinders      AU     66.00          few clouds -34.58  150.86
4      Dubai      AE     66.20    scattered clouds  25.26   55.30
5      Kapaa      US     75.20     overcast clouds  22.08 -159.32

In [130]:
### II.4b  Configure search parameters 

 ## First Set the Parameters to be passed to the API Call
  #  Create a dictionary of parameters  
params = {"radius": 5000  # 5000 meters from location
          ,"type": "lodging" # get us a hotel
          ,"key": g_key # our api key
          } # Set the parameters to search for a hotel

### II.4c  Crawl through Google NearbySearch to get data based on our locations

for index, row in hotel_df.iterrows(): # for each row in the hotel_DF
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary 
    # as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the request
    hotels = requests.get(base_url, params=params).json()
    try:
    # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [137]:
## review
hotel_df.head()
#hotels  ## raw JSON

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Cape Town,ZA,73.99,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
2,Ilo,PE,78.80,scattered clouds,-17.64,-71.34,Torreblanca Hotel
3,Flinders,AU,66.00,few clouds,-34.58,150.86,Shellharbour Resort & Conference Centre
4,Dubai,AE,66.20,scattered clouds,25.26,55.30,"Radisson Blu Hotel, Dubai Deira Creek"
5,Kapaa,US,75.20,overcast clouds,22.08,-159.32,Sheraton Kauai Coconut Beach Resort

In [157]:
### II.4d  Create the infobox template as required by the Google NearBySearch API for Marker Layers
  # combined two fields to show as one marker - current weather description and temp
  # renamed a field in the display - haha!
   
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} & {Max Temp} °F</dd> 
</dl>
"""

In [154]:
# inspect and review. 
info_box_template

'\n<dl>\n<dt>Hotel Name</dt><dd>{Hotel Name}</dd>\n<dt>City</dt><dd>{City}</dd>\n<dt>Country</dt><dd>{Country}</dd>\n<dt>Current Weather</dt><dd>{Weather Description} & {Max Temp} °F</dd>\n</dl>\n'

In [155]:
### II.4d1 
# Iterate through the DataFrame by row, and populate the info_box_template
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [160]:
### ## II.4Final - Create the marker layer map

# Get X: the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]

# Create figure var with parameters: Add a center and Zoom.  30 deg north 31 east
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create the marker layer with parameters set in the info_box_template. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the marker layer
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [159]:
 ### II.5  Save and upload new DF as WeatherPy_vacation.csv
output_data_file = "weather_data/weatherPy_vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
 ### II.6  Save and upload new marker layer map as WeatherPy_vacation_map.png