In [1]:
#### Module 6 Challenge Part 3. Create a Travel Itinerary with a Corresponding Map
###  3.1 Create new Jup NB as Vacation_Itinerary
###  3.2 Import WeatherPy_vacation.csv as new DF
###  3.3 From the vacation search map, 
###      choose at least four cities in close proximity on your map that are on the same continent that customer may like
###      and create a directions layer map.
###  3.4 Create needed dataframes. One per city and one with all the filtered cities. 
###      Use list indexing to get the latitude and longitude pairs
###  3.5 Create the WeatherPy_travel_map.png
###  3.6 Create the marker layer travel map as WeatherPy_travel_map_markers.png
###      use info_box_template and iterate thru df to op info_box_template
###      Create the marker layer travel map

In [65]:
### Prepare Environment.
import pandas as pd # our Panda friend
import gmaps # the gmaps
import gmaps.datasets # the gmaps... why we need this?

# import requests # the html library for request Google Places JSON file ## not needed for this Py
# import matplotlib.pyplot as plt # matplotlib for plotting ## not needed for this Py
# import numpy as np  # numpy for calculations ## not needed for this Py
# from citipy import citipy # Wendy Peng's amazing cities library ## not needed for this Py
# from datetime import datetime # working with dates ## not needed for this Py
# import time  # working with time ## not needed for this Py

# ##  import our api keys
# from config import weather_api_key  ## for weather data ## not needed for this Py
from config import g_key ## for Googling

In [67]:
### 3.2 Import Weather Data CSV as new Dataframe.
city_data_df = pd.read_csv("weather_data/weatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Cape Town,ZA,73.99,few clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
1,2,Ilo,PE,78.80,scattered clouds,-17.64,-71.34,Torreblanca Hotel
2,3,Flinders,AU,66.00,few clouds,-34.58,150.86,Shellharbour Resort & Conference Centre
3,4,Dubai,AE,66.20,scattered clouds,25.26,55.30,"Radisson Blu Hotel, Dubai Deira Creek"
4,5,Kapaa,US,75.20,overcast clouds,22.08,-159.32,Sheraton Kauai Coconut Beach Resort

In [69]:
## Data Cleanup
#city_data_df.info() # we have some nulls in hotel names.
city_data_df.dropna(inplace=True)  ## drop 7 missing countries
city_data_df.info() 
#city_data_df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 338 entries, 0 to 358
Data columns (total 8 columns):
City_ID                338 non-null int64
City                   338 non-null object
Country                338 non-null object
Max Temp               338 non-null float64
Weather Description    338 non-null object
Lat                    338 non-null float64
Lng                    338 non-null float64
Hotel Name             338 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 23.8+ KB

In [71]:
##  3.4.1 Create dataframe with five target cities,

cities = ["Castro","Araquari","Cidreira", "Chuy", "Rocha"]
city_data_five_df = city_data_df.loc[(city_data_df["City"].isin(cities))] 
city_data_five_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
28,43,Cidreira,BR,75.49,few clouds,-30.18,-50.21,Novomar Pousada e Turismo Ltda
36,53,Castro,BR,82.45,overcast clouds,-24.79,-50.01,CHACARA BAILLY
59,90,Rocha,UY,95.29,scattered clouds,-34.48,-54.33,Beleza Pura B&B
102,164,Araquari,BR,84.99,few clouds,-26.37,-48.72,Hotel Zanella Jasper
154,254,Chuy,UY,85.19,few clouds,-33.70,-53.46,Nuevo Hotel Plaza

In [72]:
##  3.4.2 Create dataframe per city
## Start with Castro Brazil
castro_city_df=city_data_df[city_data_df["City"]=="Castro"]
castro_city_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
36,53,Castro,BR,82.45,overcast clouds,-24.79,-50.01,CHACARA BAILLY

In [73]:
##  3.4.2 Create dataframe per city
## 2nd city is Araquari, Brazil
araquari_city_df=city_data_df[city_data_df["City"]=="Araquari"]
araquari_city_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
102,164,Araquari,BR,84.99,few clouds,-26.37,-48.72,Hotel Zanella Jasper

In [74]:
##  3.4.2 Create dataframe per city
## 3rd city is Cidreira, Brazil
cidreira_city_df=city_data_df[city_data_df["City"]=="Cidreira"]
cidreira_city_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
28,43,Cidreira,BR,75.49,few clouds,-30.18,-50.21,Novomar Pousada e Turismo Ltda

In [75]:
##  3.4.2 Create dataframe per city
## 4th city is Chuy, Uruguay
chuy_city_df=city_data_df[city_data_df["City"]=="Chuy"]
chuy_city_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
154,254,Chuy,UY,85.19,few clouds,-33.7,-53.46,Nuevo Hotel Plaza

In [76]:
##  3.4.2 Create dataframe per city
## 5th city is Rocha,
rocha_city_df=city_data_df[city_data_df["City"]=="Rocha"]
rocha_city_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
59,90,Rocha,UY,95.29,scattered clouds,-34.48,-54.33,Beleza Pura B&B

In [77]:
## review
city_data_five_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
28,43,Cidreira,BR,75.49,few clouds,-30.18,-50.21,Novomar Pousada e Turismo Ltda
36,53,Castro,BR,82.45,overcast clouds,-24.79,-50.01,CHACARA BAILLY
59,90,Rocha,UY,95.29,scattered clouds,-34.48,-54.33,Beleza Pura B&B
102,164,Araquari,BR,84.99,few clouds,-26.37,-48.72,Hotel Zanella Jasper
154,254,Chuy,UY,85.19,few clouds,-33.70,-53.46,Nuevo Hotel Plaza

In [78]:
##  3.4  Use list indexing to get the latitude and longitude pairs

for index, row in city_data_five_df.iterrows(): # for each row in the combined frame
    # Get the latitude and longitude.
    cit = row["City"]
    lat = row["Lat"]
    lng = row["Lng"]

  
    print(f"{cit} = ({lat},{lng})")

Cidreira = (-30.18,-50.21)
Castro = (-24.79,-50.01)
Rocha = (-34.48,-54.33)
Araquari = (-26.37,-48.72)
Chuy = (-33.7,-53.46)

In [79]:
##  3.4  Use list indexing to get the latitude and longitude pairs per city. Just another way to do it,
for index, row in cidreira_city_df.iterrows(): # for each row in the combined frame, Just another way to do it.
    # Get the latitude and longitude.
    cit = row["City"]
    lat = row["Lat"]
    lng = row["Lng"]
    cidreira=print(f"{cit} = ({lat},{lng})")   
    cidreira

Cidreira = (-30.18,-50.21)

In [80]:
### 3.5 Create the WeatherPy_travel_map.png

# Latitude-longitude pairs
Cidreira = (-30.18,-50.21)
Castro = (-24.79,-50.01)
Rocha = (-34.48,-54.33)
Araquari = (-26.37,-48.72)
Chuy = (-33.7,-53.46)

# Create figure 
fig= gmaps.figure()

## Directions layer
city_five_layer = gmaps.directions_layer(Castro, Rocha, waypoints=[Araquari, Cidreira, Chuy], travel_mode='DRIVING',stroke_weight=3.0,stroke_color="red")
fig.add_layer(city_five_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
### 3.6 Create the marker layer travel map as WeatherPy_travel_map_markers.png

## 3.6.1 Start with info_box_template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} & {Max Temp} Â°F</dd> 
</dl>
"""

In [82]:
## 3.6.2 Iterate through the Five Cities DataFrame by row, and populate the info_box_template
hotel_info = [info_box_template.format(**row) for index, row in city_data_five_df.iterrows()]

In [83]:
## 3.6.2 Create the marker layer travel map

# Get X: the latitude and longitude.
locations = city_data_five_df[["Lat", "Lng"]]

# Create figure var with parameters: Add a center and Zoom.  30 deg north 31 east
fig= gmaps.figure()

# Create the marker layer with parameters set in the info_box_template. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the marker layer
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
## Save figures. Git Commit. Update.